@import '../../scss/_config.scss';

.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-image {
  border-radius: 50%;
  height: 275px;
  width: 325px;
  margin-bottom: 1.3rem;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-header-text {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.2rem 0;
}

.landing-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.landing-btn {
  font-size: 1.125rem;
  padding: 15px 10px;
  width: 45%;
}
